<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. PyTorch
3. TensorFlow

|Data Science Tools | 
|:--------:|
|  Spark   | 
|  KNIME   |  
|  Hadoop   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

 <b>Objectives:</b>  List popular languages for Data Science.
 - Python
 - Julia
 - R

<h2>Author</h2>
Benjamin